
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 240);    
}
li, a {
    font-size: 1rem;
    color: rgb(179, 136, 79);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

.logo{
    max-width: 130px;
    height: auto;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: rgb(86, 51, 4);
}


.front-information{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.login{
    text-align: center;
    padding: 3px 3px;
    font-size: 1rem;
}

.button-login {
    display: inline-block;
    padding: 2px 5%;
    font-size: 16px;
    color: white;
    background-color: #74b777;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 3px 3px;
    
}

.button-login:hover{
    background-color: #558958;
}
